/*font-family: 'Barlow', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Satisfy', cursive; */

.anasayfa {
    background-color: #faf7f2;
  }
  
  .topDiv {
    display: flex;
    justify-content: center;
    background-image: url(./Components/mvp-banner.png);
    height: 97vh;
    background-position: center;
  }


.header-anasayfa img {
 margin-top: 40px;
 
 
}

.slogan{
    color:white;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    line-height: 1;
    font-family: 'Barlow', sans-serif;

}

.order-button {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0; 
    background: url('/images/oval-button.png') no-repeat center center;
    background-size: cover;
    background-color: 
    #FDC913;
    text-decoration: none;
    color:black;
    border-radius: 30px;
    font-size: 1.2em;
  }
   /* butonu küçült*/
  /* ana sayfa stilleri*/

  .header {
    background-color: 
    #C20608;
    text-align: center;
    
  }
  
  .breadcrumbs {
    background-color: 
    #C20608;
    text-align: center;
    
  }

  .breadcrumbs a {
    color:white;
  }

 